<div class="page_body"id="si_body">
	<div class="copy" id="red">
		<form method="POST" action="/red" id="wineform">
			<input id="submit_button" type="submit">
		</form>
	</div>
	<div class="copy" id="white">
		<form method="POST" action="/white" id="wineform">
			<input id="submit_button" type="submit">
		</form>
	</div>
	<div class="copy" id="sparkling">
		<form method="POST" action="/sparkling" id="wineform">
			<input id="submit_button" type="submit">
		</form>
	</div>
	<div class="copy" id="chairmans">
		<form method="POST" action="/chairmans" id="wineform">
			<input id="submit_button" type="submit">
		</form>
	</div>
</div>