<!-- our page allowing them to ocontact us -->
<form method="POST" action="/contact" id="contact_us">
	<h3>Contact Us</h3>
	<label for="cemail">Your Email:</label>
	<input type="email" name="cemail">
	<textarea name="comment" form="contact_us">Enter text here...</textarea>
	<input id="contact_button" type="submit">
</form>