<div id="home_body">
  <div id="home_top"></div>
  <div id="home_left"></div>
    <div id="home_copy">
			<div id="welcome">
			  	<h3>welcome to</h3>    
			</div>
			<div id="type">
				<h1>Vino</h1><h2>Vitae</h2>
			</div>
    </div>
  <div id="home_right"></div>
  <div id="home_bott"></div>
</div>