<div class="unpw"><p>Welcome Back, Michael!</p></div>
<div id="how_header">
  <h4>how it<br>works</h4>
</div>
<div id="how_body">
  <div id="how_top"></div>
  <div id="how_left"></div>
    <div id="how_copy">
          <p>
            This is some test copy
          </p>
    </div>
  <div id="how_right"></div>
  <div id="how_bott"></div>
</div>