<div class="unpw"><p>Welcome Back, Michael!</p></div>
<div id="how_header">
  <h4>how it<br>works</h4>
</div>
<div id="how_body">
  <div id="how_top"></div>
  <div id="how_left"></div>
    <div id="how_copy">
      <div id="how_blurb">
        <!-- <h2>At VinoVitae, we take our wine very seriously.</h2>  -->

        <h2>At VinoVitae, we take our wine<br> <em>very seriously.</em></h2>
        <p>
          It starts with our knowledgeable team of sommeliers who keep one eye on the market trends and the other on the maturity of specific vintages. This means you always end up with the right bottle, at exactly the time it should be enjoyed. Our team has relationships with all of the worlds finest vineyards  and purchase directly from them before bottling to ensure that our price is lower than the liquor store. 
        </p>
        <img id="sommelier"src="/img/sommelier.jpg">
<!--         Photo Credit http://www.seattletimes.com/nwshowcase/careers/sommelier-to-the-stars-worked-his-way-up/ -->
        <p>
          Every Quarter we send you a case with two bottles of our six favorite wines for the season. That might seem like a lot, but somehow good wine always seems to go faster than you'd think.... 
        </p>
      </div>
    </div>
  <div id="how_right"></div>
  <div id="how_bott"></div>
</div>